.address {
  display: inline-flex;
  align-items: center;

  span {
    margin: 0 0 0 12px;
    font-weight: 700;
    padding-bottom: 2px;
    color: #704FB7;
    border-bottom: 2px solid #704FB7;

    &:hover {
      cursor: pointer;
      border-bottom: 2px solid transparent;
    }
  }
}

.arrow {
  width: 18px;
  height: 18px;
  padding: 0 0 3px 4px;
  vertical-align: center;
}

.s {
  span {
    font-size: 14px;
  }
}

.l {
  span {
    font-size: 22px;
  }
}
