.input {
	width: 100%;
	display: inline-block;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), linear-gradient(112.95deg, #5755FF -13.39%, #FF8AA6 118.44%);
	border-radius: 15px;
	border: 0;
	outline: 0;
	padding: 13px 15px;
	font-family: 'Gilroy', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #2F2233;

	&::placeholder {
		 background: linear-gradient(112.95deg, #5755FF -13.39%, #FF8AA6 118.44%), #2F2233;
		 -webkit-background-clip: text;
		 -webkit-text-fill-color: transparent;
		 background-clip: text;
		 text-fill-color: transparent;
	 }
}
